solutions/BudgetTrackerApp/Workflows/Expense_Resolution_Notification-0CDA5B1C-EC25-F111-88B4-7CED8D436121.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "zd_sharedcommondataserviceforapps_480bf"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "zd_sharedoffice365_fe300"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_modified_-_Expense": {
          "metadata": {
            "operationMetadataId": "798f3909-4c0a-499f-8f37-d5ca98126a84"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "zd_hh_expense",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "zd_expensestatus"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@not(equals(triggerOutputs()?['body/zd_expensestatus'], triggerOutputs()?['body/zd_expensestatus@odata.previousValue']))"
            }
          ]
        }
      },
      "actions": {
        "Add_a_new_row_-_Notification": {
          "runAfter": {
            "Get_a_row_by_ID_-_Expense": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b7c05948-4945-49e1-a8bb-c341e18765cf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "zd_hh_notifications",
              "item/zd_message": "Ausgabe - @{outputs('Get_a_row_by_ID_-_Expense')?['body/zd_expensestatus@OData.Community.Display.V1.FormattedValue']}",
              "item/zd_title": "Ausgabe Status",
              "item/zd_Expense@odata.bind": "@concat('/zd_hh_expenses(', triggerOutputs()?['body/zd_hh_expenseid'], ')')",
              "item/zd_notificationstatus": "@triggerOutputs()?['body/zd_expensestatus']",
              "item/zd_read": false,
              "item/overriddencreatedon": "@utcNow()"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Add_a_new_row_-_Notification": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bf8227b-f8d2-43cd-8f73-dbd96f7bdd68"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_a_row_by_ID_-_User')?['body/internalemailaddress']",
              "emailMessage/Subject": "Ausgabe - @{outputs('Get_a_row_by_ID_-_Expense')?['body/zd_expensestatus@OData.Community.Display.V1.FormattedValue']}",
              "emailMessage/Body": "<p>Ihre Ausgabenanfrage wurde erfolgreich bearbeitet.<br>\n<br>\nStatus: @{outputs('Get_a_row_by_ID_-_Expense')?['body/zd_expensestatus@OData.Community.Display.V1.FormattedValue']}<br>\nDetails:<br>\n<strong>- Title:</strong> @{triggerOutputs()?['body/zd_expensetitle']}<br>\n<strong>- Betrag:</strong> @{triggerOutputs()?['body/zd_amount']} CHF &nbsp;<br>\n<br>\nBei Fragen wenden Sie sich bitte an Ihren Vorgesetzten.</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_-_User": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "844dbab2-6330-421d-9649-a2baef5e123c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_createdby_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_-_Expense": {
          "runAfter": {
            "Get_a_row_by_ID_-_User": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93865489-95ba-489e-a2a6-f80869f9d9ed"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "zd_hh_expenses",
              "recordId": "@triggerOutputs()?['body/zd_hh_expenseid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}