solutions/BudgetTrackerApp/Workflows/New_Expense_Notification-53251632-B124-F111-88B4-7CED8D42F43C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "zd_sharedcommondataserviceforapps_480bf"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "zd_sharedoffice365_fe300"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted_-_Expense": {
          "metadata": {
            "operationMetadataId": "798f3909-4c0a-499f-8f37-d5ca98126a84"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "zd_hh_expense",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Add_a_new_row_-_Notification": {
          "runAfter": {
            "Get_a_row_by_ID_-_User": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b7c05948-4945-49e1-a8bb-c341e18765cf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "zd_hh_notifications",
              "item/zd_message": "Neue Ausgabe eingericht",
              "item/zd_title": "Neue Ausgabe eingericht",
              "item/zd_Expense@odata.bind": "@concat('/zd_hh_expenses(', triggerOutputs()?['body/zd_hh_expenseid'], ')')",
              "item/zd_notificationstatus": 128580000,
              "item/zd_read": false,
              "item/overriddencreatedon": "@utcNow()"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Add_a_new_row_-_Notification": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bf8227b-f8d2-43cd-8f73-dbd96f7bdd68"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_a_row_by_ID_-_User')?['body/internalemailaddress']",
              "emailMessage/Subject": "Neue Ausgabe eingericht",
              "emailMessage/Body": "<p>Eine neue Ausgabe wartet auf Ihre Genehmigung.</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_-_Department": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e3f64d76-c417-499d-9e8a-a7695c4d5403"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "zd_hh_departments",
              "recordId": "@triggerOutputs()?['body/_zd_department_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_-_User": {
          "runAfter": {
            "Get_a_row_by_ID_-_Department": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "844dbab2-6330-421d-9649-a2baef5e123c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@outputs('Get_a_row_by_ID_-_Department')?['body/_zd_supervisor_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}